[submodule "assimp"]
	path = assimp
	url = git@bitbucket.org:MOJ_JEB/assimp.git
[submodule "sdk"]
	path = sdk
	url = git@bitbucket.org:MOJ_JEB/sdk.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
